<div *ngIf="formType">
  <form *ngIf="formItems" (ngSubmit)="submitForm()" ngNativeValidate>
    <div *ngFor="let formItem of formItems" class="formItem">
      <label [for]="formItem.name">{{formItem.name | titlecase}}</label>
      <div [ngSwitch]="formItem.type" class="formItemInput">
          <input [name]="formItem.name" *ngSwitchCase="formItemType.String" type="text" required [(ngModel)]="formItem.value">
          <input [name]="formItem.name" *ngSwitchCase="formItemType.Boolean" type="checkbox" [(ngModel)]="formItem.value">
          <input [name]="formItem.name" *ngSwitchCase="formItemType.Integer" type="number" required [(ngModel)]="formItem.value">
          <!-- TODO: make/utilize fancy star picker directive -->
          <input [name]="formItem.name" *ngSwitchCase="formItemType.Stars" type="number" min="1" max="5" required [(ngModel)]="formItem.value">
          <input [name]="formItem.name" *ngSwitchCase="formItemType.Color" type="color" required [(ngModel)]="formItem.value">
          <span  *ngSwitchDefault>[Unknown editor type]</span>
      </div>
    </div>
    <button type="submit">{{submitValue}}</button>
  </form>
</div>
<app-navigation></app-navigation>