<table class="table table-bordered table-striped">
  <tr *ngFor="let displayFieldName of displayFieldNames">
    <td>{{displayFieldName}}</td>
    <td>
      <div [ngSwitch]="displayFormItemTypes[displayFieldName]">
        <div *ngSwitchCase="formItemType.Boolean">
          <input type="checkbox" disabled [ngModel]="crudItem[displayFieldName]">
        </div>
        <div *ngSwitchCase="formItemType.Color">
          <input type="color" disabled [ngModel]="crudItem[displayFieldName]">
        </div>
        <div *ngSwitchCase="formItemType.Stars">
          <ngb-rating readonly="true" max="5" [rate]="crudItem[displayFieldName]"></ngb-rating>
        </div>
        <div *ngSwitchDefault>
          <span>{{crudItem[displayFieldName]}}</span>
        </div>
      </div>
    </td>
  </tr>
</table>

<div *ngIf="crudItem.inspectionItems">
  <h4>Inspections:</h4>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Target Name</th>
      <th>Inspection</th>
    </tr>
    <tr *ngFor="let inspectionItem of crudItem.inspectionItems">
      <td>
          <a routerLink="../{{inspectionItem.targetId}}" class="btn btn-info">{{inspectionItem.targetName}}</a>
      </td>
      <td>
        <app-crud-item-view [crudItem]="inspectionItem" hideDates></app-crud-item-view>
      </td>
    </tr>
  </table>
</div>