<table class="table table-bordered table-striped">
  <tr *ngFor="let displayFieldName of displayFieldNames">
    <td>{{displayFieldName}}</td>
    <td>
      <div [ngSwitch]="displayFormItemTypes[displayFieldName]">
        <div *ngSwitchCase="formItemType.Boolean">
          <input type="checkbox" disabled [ngModel]="crudItem[displayFieldName]">
        </div>
        <div *ngSwitchCase="formItemType.Color">
          <input type="color" disabled [ngModel]="crudItem[displayFieldName]">
        </div>
        <div *ngSwitchCase="formItemType.Stars">
          <ngb-rating readonly="true" max="5" [rate]="crudItem[displayFieldName]"></ngb-rating>
        </div>
        <div *ngSwitchDefault>
          <span>{{crudItem[displayFieldName]}}</span>
        </div>
      </div>
    </td>
  </tr>
</table>