<table class="table table-bordered table-striped">
  <tbody>
    <tr *ngFor="let formItem of formItems; index as i" class="formItem">
      <td><label [for]="i">{{formItem.name | titlecase}}</label></td>
      <td [ngSwitch]="formItem.type" class="formItemInput">
        <app-crud-item-input-string [id]="i" *ngSwitchCase="formItemType.String" [control]="crudForm.get(formItem.name)"
          [isUserName]="formItem.name == 'userName'"></app-crud-item-input-string>
        <app-crud-item-input-boolean [id]="i" *ngSwitchCase="formItemType.Boolean"
          [control]="crudForm.get(formItem.name)"></app-crud-item-input-boolean>
        <app-crud-item-input-integer [id]="i" *ngSwitchCase="formItemType.Integer"
          [control]="crudForm.get(formItem.name)"></app-crud-item-input-integer>
        <app-crud-item-input-stars [id]="i" *ngSwitchCase="formItemType.Stars" [control]="crudForm.get(formItem.name)">
        </app-crud-item-input-stars>
        <app-crud-item-input-color [id]="i" *ngSwitchCase="formItemType.Color" [control]="crudForm.get(formItem.name)">
        </app-crud-item-input-color>
        <app-crud-item-input-password [id]="i" *ngSwitchCase="formItemType.Password"
          [control]="crudForm.get(formItem.name)"></app-crud-item-input-password>
        <app-crud-item-input-text-area [id]="i" *ngSwitchCase="formItemType.TextArea"
          [control]="crudForm.get(formItem.name)"></app-crud-item-input-text-area>
        <input [id]="i" *ngSwitchDefault type="text" disabled="true" value="[Unknown editor type]">
      </td>
    </tr>
  </tbody>
</table>

<!-- TODO: create app-crud-item-inspection-group-form component to handle this-->
<div *ngIf="selectTargets">
  <h4 [formGroup]="getInspectionItems()">Inspections:</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Target Name</th>
        <th>Inspection</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inspectionItem of getInspectionItems().controls">
        <td>
          <ngb-alert type="info" (close)="removeInspectionItem(inspectionItem.get('targetId').value)">
            {{inspectionItem.get('targetName').value}}
          </ngb-alert>
        </td>
        <td>
          <app-crud-item-input [crudItem]="crudItemService.createCrudItemInspection()" [crudForm]="inspectionItem"
            id="{{inspectionItem.get('targetId').value}}"></app-crud-item-input>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="selectTargets && objectKeys(selectTargets).length > 1">
        <td colspan="2">
          <span>Add target: </span>
          <select (change)="addInspectionItem($event.target.selectedIndex)">
            <option *ngFor="let targetId of objectKeys(selectTargets)">
              {{selectTargets[targetId]}}
            </option>
          </select>
        </td>
      </tr>
    </tfoot>
  </table>
</div>