<nav class="navbar navbar-expand-sm navbar-light bg-light" *ngIf="isLoggedIn()">
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let headerItem of getHeaderItems(); index as i">
        <!-- <a class="nav-link" [ngClass]="{'navbar-brand' : !headerItem.id}" [routerLink]="headerItem.url">{{headerItem.name}}</a> -->
        <a class="nav-link" [ngClass]="{'navbar-brand' : !headerItem.id}" (click)=goUp(i)>{{headerItem.name}}</a>
      </li>
    </ul>
  </div>
</nav>