/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.btn {
    margin: .2em;
}

label {
    display: inline-block;
    width: 10em;
    text-align: right;
    margin-right: 1em;
}

input {
    width: 10em;
}

*.ng-invalid:not(form,div) {
    border: 1px solid red;
}