<div class="modal-header">
  <h4 class="modal-title">Delete {{type}}</h4>
  <button type="button" [disabled]="working" class="close" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <p>Really delete {{type}} '{{name}}'?</p>
  <p class="text-danger">This operation can not be undone.</p>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="working" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button type="button" [disabled]="working" class="btn btn-primary" (click)="ok()">Ok</button>
</div>