<button type="button" class="btn btn-secondary" routerLink="create">Create new {{crudItemName}}</button>
<div *ngIf="crudItems">
  <ul>
    <li *ngFor="let crudItem of crudItems">
      <a routerLink="{{crudItem.id}}" class="btn btn-info">{{crudItem.getDisplayValue()}}</a>
    </li>
  </ul>
  <p *ngIf="crudItems.length == 0">No items</p>
</div>
<div *ngIf="crudChildren.length > 0">
  <h4>Groupings:</h4>
  <ul>
    <li *ngFor="let crudChild of crudChildren">
      <a routerLink="{{crudChild.path}}" class="btn btn-info">{{crudChild.name}}</a>
    </li>
  </ul>
</div>
<app-navigation></app-navigation>