<div *ngIf="crudForm && selectTargets">
    <span>Target: </span>
    <select class="custom-select" (change)="setTarget($event.target.selectedIndex)"
        [formControl]="crudForm.get('targetName')">
        <option *ngFor="let targetId of objectKeys(selectTargets)" [ngValue]="selectTargets[targetId]">
            {{selectTargets[targetId]}}
        </option>
    </select>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="5">Coordinates:</th>
        </tr>
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <ng-container *ngIf="coordinates.enabled">
                <th>Move Up</th>
                <th>Move Down</th>
                <th>Remove</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coordinate of coordinates.controls">
            <td>
                <app-crud-item-input-integer [control]="coordinate.get('latitude')" name="latitude">
                </app-crud-item-input-integer>
            </td>
            <td>
                <app-crud-item-input-integer [control]="coordinate.get('longitude')" name="longitude">
                </app-crud-item-input-integer>
            </td>
            <ng-container *ngIf="coordinates.enabled">
                <td><a class="btn btn-light">↑</a></td>
                <!--TODO: disable first-->
                <td><a class="btn btn-light">↓</a></td>
                <!--TODO: disable last-->
                <td><a class="btn btn-danger">X</a></td>
            </ng-container>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <a class="btn btn-secondary" (click)="addCoordinate()">Add
                    Coordinate</a>
            </td>
        </tr>
    </tfoot>
</table>