<div *ngIf="crudForm && selectTargets">
    <span>Target: </span>
    <select class="custom-select" (change)="setTarget($event.target.selectedIndex)"
        [formControl]="crudForm.get('targetName')">
        <option *ngFor="let targetId of objectKeys(selectTargets)" [ngValue]="selectTargets[targetId]">
            {{selectTargets[targetId]}}
        </option>
    </select>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="5" [formGroup]="coordinates">Coordinates:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coordinate of coordinates.controls; index as i; first as isFirst; last as isLast"
            [ngClass]="{ 'bg-info': selectedCoordinates[i] }">
            <td>
                <app-crud-item-input-integer [control]="coordinate.get('latitude')" name="latitude">
                </app-crud-item-input-integer>
            </td>
            <td>
                <app-crud-item-input-integer [control]="coordinate.get('longitude')" name="longitude">
                </app-crud-item-input-integer>
            </td>
            <ng-container *ngIf="coordinates.enabled">
                <td><button class="btn btn-light" type="button" [disabled]="isFirst" (click)="moveCoordinateUp(i)"
                        title="Move Up">↑</button></td>
                <td><button class="btn btn-light" type="button" [disabled]="isLast" (click)="moveCoordinateDown(i)"
                        title="Move Down">↓</button></td>
                <td><button class="btn btn-danger" type="button" (click)="removeCoordinate(i)" title="Remove">X</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
    <tfoot *ngIf="coordinates.enabled">
        <tr>
            <td colspan="5">
                <!-- Does not work in development mode (http://localhost:4200)
                     unless ran locally with https
                     OR used on phone via usb in chrome dev tools (Remote Devices) with port forwarding-->
                <button class="btn btn-secondary" type="button" (click)="addCoordinate()">Add
                    Coordinate</button>
            </td>
        </tr>
    </tfoot>
</table>

<div id="chart"></div>