 <div *ngIf="crudItem">
  <table>
    <tr *ngFor="let displayFieldName of crudItem.getDisplayFieldNames()">
      <td>{{displayFieldName}}</td>
      <td>{{crudItem[displayFieldName]}}</td>
    </tr>
  </table>
  <button routerLink="update">Update</button>
  <button #deleteButton [disabled]="!canDelete" (click)="deleteCrudItem()">Delete</button>
  <div [hidden]="!deleteButton.disabled">Cannot delete {{crudItemSingularName}} because it has children</div>
  <div *ngIf="crudChildren">
    <h4>Child items:</h4>
    <ul>
      <li *ngFor="let crudChild of crudChildren">
        <a routerLink="{{crudChild.path}}">{{crudChild.pluralName}}</a>
      </li>
    </ul>
  </div>
</div>
