 <div *ngIf="crudItem">
  <table>
    <tr *ngFor="let displayFieldName of crudItem.getDisplayFieldNames()">
      <td>{{displayFieldName}}</td>
      <td>{{crudItem.displayFieldName}}</td>
    </tr>
  </table>
  <button routerLink="update" [disabled]="!item">Update</button>
  <button #deleteButton [disabled]="!canDelete" (click)="deleteCrudItem()">Delete</button>
  <div [hidden]="!deleteButton.disabled">Cannot delete {{crudItem.getClassName()}} because it has child items</div>
  <div *ngIf="childNames">
    <h4>Child items:</h4>
    <ul>
      <li *ngFor="let childName of childNames">
        <a routerLink="{{childName}}">{{childName | titlecase}}</a>
      </li>
    </ul>
  </div>
</div>
