 <app-navigation></app-navigation>
 <div *ngIf="item">
  <table>
    <tr *ngFor="let itemName of itemNames">
      <td>{{itemName}}</td>
      <td>{{item[itemName]}}</td>
    </tr>
  </table>
  <button routerLink="update" [disabled]="!item">Update</button>
  <button #deleteButton [disabled]="!canDelete" (click)="deleteItem()">Delete</button>
  <div [hidden]="!deleteButton.disabled">Cannot delete item because it has child items</div>
  <div *ngIf="children">
    <h4>Child items:</h4>
    <ul>
      <li *ngFor="let child of children">
        <a routerLink="{{child}}">{{child | titlecase}}</a>
      </li>
    </ul>
  </div>
</div>