<button type="button" class="btn btn-secondary" routerLink="create">Create User</button>

<form (ngSubmit)="submitForm()" ngNativeValidate>

  <div>
    <label for="username">Username</label>
    <input name="username" type="text" autocomplete="username" required [(ngModel)]="username">
  </div>

  <div>
    <label for="password">Password</label>
    <input name="password" type="password" autocomplete="current-password" required [(ngModel)]="password">
  </div>

  <button class="btn btn-primary" [disabled]="working" type="submit">Submit</button>
  <spinner [visible]="working"></spinner>

</form>