label {
  width: 5em;
  display: inline-block;
  text-align: right;
  margin-right: 1em;
  margin-top: .5em;
}

.serverOnline {
  color: green;
}

.serverOffline {
  color: red;
}

*.ng-invalid:not(form) {
  border: 1px solid red;
}