<web-app version="3.0"
	     xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>${servlet.name}</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.github.ants280.jeff.farm.ws.ApplicationConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>${servlet.name}</servlet-name>
		<url-pattern>${servlet.url.prefix}/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<!--allowing ui on same server as tomcat, but on different port-->
			<param-value>http://localhost:4200</param-value>
		</init-param>
		<init-param>
			<!--allow non-default PUT and DELETE methods-->
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
		</init-param>
		<init-param>
			<!--allow non-default Authorization header-->
			<param-name>cors.allowed.headers</param-name>
			<param-value>Authorization, Origin,Accept,X-Requested-With,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<!--make requests with credentials-->
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<!--The amount of seconds, browser is allowed to cache the result of the pre-flight request.-->
			<param-name>cors.preflight.maxage</param-name>
			<param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<resource-ref>
		<res-ref-name>${resource.data.source.name}</res-ref-name>
		<res-type>${resource.data.source.type}</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secured-endpoints</web-resource-name>
			<url-pattern>${servlet.url.prefix}/farms/*</url-pattern>
			<url-pattern>${servlet.url.prefix}/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>user</role-name>
	</security-role>

</web-app>
