<!-- <form (ngSubmit)="submitForm()" #crudForm="ngForm"> -->
<form #crudForm="ngForm" *ngIf="formItems">
  <div *ngFor="let formItem of formItems">
    <label [for]="formItem.name">{{formItem.name | titlecase}}</label>
    <!-- TODO: input for type of formItem -->
    <input [name]="formItem.name" type="text" required [(ngModel)]="formItem.value">    
    <!-- <div [hidden]="location.valid">INVALID</div> -->
    <!-- <input [id]="formItem.name" type="text" required>     -->
  </div>
  <button type="submit" (click)="submitForm()">{{submitValue}}</button>
  <!-- <input type="submit" [disabled]="!crudForm.valid" [value]="submitValue"> --> <!-- TODO: fix validation -->
</form>